Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  portability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
