#!/usr/bin/env bash
export PATH="./scripts:$PATH"
# this uses direnv to load up all the scripts into PATH for quicker aliases
# if you want to utilize this, instal direnv: https://github.com/direnv/direnv
